
@{
    ViewBag.Title = "Details";
   
}


<div id="colorlib-amenities">
    <div class="container">
        <div class="row">
            <div class="desc animate-box">
                <h2><a href="#">Conference Hall for Business Events</a></h2>
                <p class="price">
                    <span class="currency">$</span>
                    <span class="price-room">359</span>
                    <span class="per">/ per night / room</span>
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptates eius, nam laudantium, quasi laborum cumque asperiores totam est perferendis itaque id esse quidem recusandae sequi aut? Ratione, enim, consequatur!</p>
            </div>
                <div class="amenities-img animate-box" style="background-image: url(images/amenities-1.jpg);"></div>
               
            </div>
        </div>
    </div>
</div>
